<br><br>
<h1>Welcome to the Dog Shop!</h1>
<h4>Being a pet parent is one of the best things in life. We understand because we're pet parents too. 
In fact, the Dog Shop was founded by people with a serious passion for helping pets. They wanted to make the
process of finding the best dog toys easy to find--and deliver it straight to your doorstep.
</h4>

Headquartered in Chicago Illinois, the Dog Shop's dedicated staff are committed to providing the kind of 
service that makes you say "WOW!" Our warehouses all over the country can ship the highest quality 
products--and fast. And our amazing customer service are here day and night to help. Bottom line is, we're 
here to make pet happiness happen. <br>
We have three locations throughout Illinois...and of course everything that is in store can also be found on
our website. 
<br>Our 3 Illinois locations are: <br>
-1234 Wilbert Road Schaumburg, IL <br>
-43654 Golf Road Niles, IL <br>
-12 Green Bay Road Winnetka, IL <br>

<h3> We have Lots of Goodies for your Pets</h3>
We have a wide variety of toys for your pet! We have plush toys that are perfect for your pet to snuggle with.
Some of the plush toys will definitely make you laugh! We also have several different training toys making
it easier to train your pet. And of course we have SO many tug-a-war toys...because that's their favorite. 
We have so many options that we gurantee your pet with find great amusment and happiness!

