<br><h2>NEED HELP?</h2>

<h4>We are <strong>ALWAYS</strong> willing to help with any questions you have! If you're not able to stop in to talk to one
of our amazing employees, don't worry! We have a customer service line that you will still get the seem
great experience. <br>
Please call: <strong>899-DOG-SHOP</strong> if you have any questions!!</h4>

<h3>365 Day Hassle-Free Returns</h3>
Not every purchase can be a home run, and we get it. That's why our policy is simple: if you (or your pet) 
are not 100% totally, completely, and unconditionally satisfied for any reason whatsoever, let us know! 


<h3>We Know Pet Stuff</h3>
We realize you're going to have questions about the products you're buying. That's why we work
hand in hand with all of our brands so our customer service team can answer any question you might have. 
We research, attend lectures, and keep up with the latest trends so we can pass on our knowledge to you.
